#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
      url("images/freedom.jpg") center/cover no-repeat border-box,
      #ff1b68;
    /* background-image: url("freedom.jpg");
      background-size: cover;
      background-position: left 10% bottom 20%; */
    /* background-repeat: no-repeat;
      background-origin: border-box;
      background-clip: border-box; */
    /* background-image: linear-gradient(180deg, red 70%, blue 60%, rgba(0,0,0,0.5)); */
    /* background-image: radial-gradient(ellipse farthest-corner at 20% 50%, red, blue 70%, green); */
    width: 100vw;
    height: 33vh;
    /* border: 5px dashed red; */
    position: relative;
  }
  
  #product-overview h1 {
    color: white;
    font-family: "Anton", sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.6rem;
  }

  @media (min-width: 43.5rem) and (min-height: 43.5rem) {
    #product-overview {
      height: 40vh;
      background-position: 50% 25%;
    }

    #product-overview h1 {
      font-size: 3rem;
    }
  }

  .section-title {
    color: #2ddf5c;
    text-align: center;
  }

  
  .plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
  }
  
  .plan--highlighted {
    background: #19b84c;
    color: white;
  }
  
  .plan__annotation {
    background: white;
    color: #19b84c;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  
  .plan__title {
    color: #0e4f1f;
  }
  
  .plan__price {
    color: #858585;
  }
  
  .plan--highlighted .plan__title {
    color: white;
  }
  
  .plan--highlighted .plan__price {
    color: #0e4f1f;
  }
  
  .plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .plan__feature {
    margin: 0.5rem 0;
  }

  /* it should be 40 but my device doesn't fit */
  @media (min-width: 43.5rem) {
    .plan__list {
      width: 100%;
      text-align: center;
    }

    .plan {
      display: inline-block;
      width: 30%;
      margin: 0.5rem;
      vertical-align: middle;
      min-width: 13rem;
      max-width: 25rem;
    }

    .plan--highlighted {
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
  
  #key-features {
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
  }
  
  #key-features .section-title {
    color: white;
    margin: 2rem;
  }
  
  .key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 1.5rem;
  }
  
  .key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
  }

  @media (min-width: 43.5rem) {
    .key-feature {
      display: inline-block;
      width: 30%;
      max-width: 25rem;
      vertical-align: top;
    }
  }
  
  /* h1 {
      font-family: sans-serif;
  } */

  .modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 0 0 1rem 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
    border-top: 2px solid rgb(192, 187, 187);
    padding: 4px;
  }
  
  .modal__action {
    border: 1.7px solid #25a347;
    border-radius: 4px;
    background: #DCDCDC;
    text-decoration: none;
    color: black;
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin: 5px;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #25a347;
    border-color: #25a347;
  }
  
  .modal__action--negative {
    background: #DCDCDC;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: red;
    border-color: red;
  }

  .confirm {
    background: #ff1b68;
    width: 100%;
    height: 60px;
  }
  
  .confirm__message {
    display: inline-block;
    position: relative;
    top: 28%;
    left: 6%;
    font-size: 1.1rem;
    margin: 0;
    font-weight: bold;
    color: white;
    /* padding: 10px; */
  }

  .confirm__message__question-mark {
    left: 5%;
    padding: 0 5px;
    color: #ff1b68;
    background: white;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 1rem;
  }